* {
    box-sizing: border-box;
}

#header {
    width: 600px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
}

form {
    display: flex;
    width: 600px;
    flex-direction: column;
}

#post-title {
    font-size: 1.1rem;
}

#post-content {
    resize: none;
}

#response-table {
    width: 600px;
    margin-top: 30px;
}
